/* style.css */
@font-face {
  font-family: 'Pitched Battle';
  src: url('https://raw.githubusercontent.com/LOLAPALUPULO/LolaVentas/main/Pitched%20Battle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Custom utility class for the font */
.font-pitched-battle {
  font-family: 'Pitched Battle', sans-serif;
}